* {
  font-family: "Roboto", sans-serif;
}

/* Reset browser styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;

  &:before,
  &:after {
    content: "";
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;

  &:link,
  &:visited {
    color: black;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 10%;
  animation: fromTop 0.6s ease-out forwards;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 50px;

  .logo {
    height: 37px;
  }

  .action-buttons {
    display: flex;

    .notification {
      display: flex;
      align-items: center;
      padding: 0 10px;
      color: #a6a6a6;
      cursor: pointer;

      &:hover {
        color: #8c8c8c;
      }
    }

    .dropdown {
      position: relative;

      input,
      .dropdown-menu {
        display: none;
      }

      input:checked ~ menu.dropdown-menu {
        display: block;
      }

      &-avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1.25rem;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #ffaa00;
        position: relative;
        cursor: pointer;

        &:hover {
          background-color: #cc8800;
        }

        span {
          color: #fff;
        }
      }

      &-menu {
        position: absolute;
        right: 0;
        top: 35px;
        min-width: 170px;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
        background-color: #fff;
        padding: 15px 15px 5px;

        &-name {
          display: flex;
          justify-content: center;
          padding: 0 10px 5px;
          border-bottom: 1px solid;
          color: #a6a6a6;
        }

        nav > ul > li {
          padding: 10px 0;
          cursor: pointer;
        }
      }
    }
  }
}

main {
  padding-top: 50px;
  background-color: #f2f2f2;
  min-height: calc(100vh - 50px);

  .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    padding: 5% 0;
    height: 70vh;

    & > * {
      flex: 1 100%;
    }

    .card-column {
      display: flex;
      flex-direction: column;
      flex: 1;

      &:last-of-type {
        flex: 2;
      }
    }

    .card-row {
      display: flex;
      flex-direction: row;
    }

    .card {
      display: flex;
      flex-grow: 1;
      position: relative;

      &:hover > .card-content {
        display: block;
      }

      &-content,
      &-cover {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
      }

      &-content {
        display: none;
        background-color: #fff;
      }

      &--first {
        height: 250px;
        transform-style: preserve-3d;
        transition: all 1s ease-in-out;

        &:hover {
          transform: rotateY(360deg);
        }

        .card-cover {
          align-items: center;
          justify-content: center;
          background-color: #fff;

          img {
            height: 100px;
          }
        }
      }

      &--second {
        height: 230px;

        &:hover > .card-content {
          animation-name: diagonalSlide;
          animation-duration: 5s;
          animation-iteration-count: 10;
        }

        .card-cover {
          align-items: center;
          justify-content: center;
          background-color: #52bf77;
          color: #fff;
          font-size: 70px;
        }
      }

      &--third {
        height: 200px;

        &:hover > .card-content {
          animation-duration: 3s;
          animation-name: slideLeft;
        }

        .card-cover {
          align-items: flex-end;
          justify-content: flex-end;
          background-color: #f7cf69;
          color: black;
          font-size: 90px;
          font-weight: 700;

          span {
            margin: 10px;
          }
        }
      }

      &--fourth {
        height: 100px;

        &:hover > .card-content {
          animation: slowDisplay 5s infinite;
        }

        .card-cover {
          align-items: center;
          justify-content: center;
          background-color: #e12b4c;
          color: #fff;
          font-size: 40px;
        }
      }

      &--fifth {
        height: 80px;

        // &:hover > .card-content {
        //   animation-name: diagonalSlide;
        //   animation-duration: 5s;
        //   animation-iteration-count: 10;
        // }

        .card-cover {
          align-items: center;
          justify-content: center;
          background-color: #8893c0;
          color: black;
          font-size: 60px;
        }
      }

      &--sixth {
        height: 415px;

        &:hover > .card-content {
          animation-name: changeColor;
          animation-duration: 4s;
        }

        .card-cover {
          align-items: center;
          justify-content: center;
          background-color: #642077;
          color: #fff;
          font-size: 70px;
        }
      }

      &--seventh {
        height: 150px;

        .card-cover {
          align-items: center;
          justify-content: center;
          background-color: #2d99ff;
          color: #fff;
          font-size: 20px;
        }
      }

      &--eighth {
        height: 150px;

        .card-cover {
          align-items: center;
          justify-content: center;
          background-color: #0443a3;
          color: #fff;
          font-size: 20px;
        }
      }

      &--ninth {
        height: 100px;

        .card-cover {
          align-items: center;
          justify-content: center;
          background-color: #00265f;
          color: #fff;
          font-size: 20px;
        }
      }
    }
  }
}

@keyframes fromTop {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes changeColor {
  from {
    background-color: #52bf77;
  }
  to {
    background-color: #fff;
  }
}

@keyframes slideLeft {
  from {
    margin-left: 100%;
    width: 200%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slowDisplay {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes diagonalSlide {

  from {
    right: 0;
    top: 0;
  }

  to {
    right: 100px;
    top: 100px;
  }

}